<!DOCTYPE html>
<html>
    <head>
        <title>Notes APP</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <h1>My Notes</h1>

        <form id="noteform" action="/add-note" method="post">
            <input type="text" name="note" placeholder="Write a note..." required>
            <button type="submit">Add Note</button>
        </form>

        <ul>
            {% for n in notes %}
                <li>
                    {{ n }}
                    <a href="/edit/{{ loop.index0 }}">Edit</a>
                    <a href="/delete-note/{{ loop.index0 }}">Delete</a>
                </li>
            {% endfor %}
        </ul>

    </body>
</html>
